<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image" href="./images/favicon.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Career | Romana Water</title>
    <link rel="stylesheet" href="../style.css">

    <style>
      .shad{
        box-shadow: 0px 8px 16px 0px rgb(17 34 139 / 23%);
      }
    </style>
  </head>
  <body>
   
 <!-- Navbar -->

 <nav id="mainNavbar" class="bg-[#1D4DA133] float-left shadow-md top-0 fixed z-[99] w-full">
  <div class="max-w-7xl mx-auto px-6 flex  items-center justify-between ">
    <div class="flex items-center justify-between w-full py-2">
          <div class="lg:w-[180px] sm:w-[100px] w-[80px]">
            <a href="/" class="flex items-center">
              <img src="../images/logo.png" class="h-full w-full mr-3" alt="Logo">
          </a>
          </div>
  
          <div class="hidden lg:flex w-full justify-end" id="navbar-sticky">
            <ul class="flex lg:gap-8 lg:items-center flex-col lg:flex-row md:mt-0 p-4 md:p-0 mt-4 font-semibold text-black border border-gray-100 rounded-lg md:border-0">
               <li>
              <a class="my-3 pb-2 menu-item lg:my-0" href="/">Home</a> 
            </li>
            <li>
              <a class="my-3 pb-2 menu-item lg:my-0" href="/">Company Profile</a> 
            </li>
            <li>
              <a class="my-3 pb-2 menu-item lg:my-0" href="/">Products</a> 
            </li>
            <li>
              <a class="my-3 pb-2 menu-item lg:my-0" href="/">Media</a> 
            </li>
            <li>
              <a class="my-3 pb-2 menu-item lg:my-0" href="./career.html">Career</a> 
            </li>
        
            <li class="">
                  <a class="cursor-pointer mx-auto px-5 py-2 block w-full rounded-full bg-primary hover:bg-secondary transition duration-700 ease-in-out text-white mt-5 lg:mt-0" data-hs-overlay="#booking-modal">
                  Order Online
                </a>
            </li>
        
            </ul>
          </div>
    </div>


    <div class="drawer justify-end lg:hidden flex">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Page content here -->
        <button class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-black rounded-lg" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
            <label for="my-drawer" class="drawer-button">
            <svg class="sm:w-8 w-6 h-6 sm:h-8 fill-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </label>
          </button>
      </div> 
      <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
          <!-- Sidebar content here -->
          <div class="w-[150px] mx-auto">
            <a href="/" class="flex items-center">
              <img src="../images/logo.png" class="h-full w-full mr-3" alt="Flowbite Logo">
          </a>
          </div>
          <div class="border-b my-3"></div>
            <li>
              <a class="my-1" href="/">Home</a> 
            </li>
            <li>
              <a class="my-1" href="/">Company Profile</a> 
            </li>
            <li>
              <a class="my-1" href="/">Products</a> 
            </li>
            <li>
              <a class="my-1" href="/">Media</a> 
            </li>
            <li>
              <a class="my-1" href="./career.html">Career</a> 
            </li>
            
            <li class="">
                  <a data-hs-overlay="#booking-modal" class="w-full block text-center rounded-full bg-primary hover:bg-secondary transition duration-700 ease-in-out text-white hover:text-white mt-5 lg:mt-0">
                    <button>
                      Order Online
                    </button>
                  </a>
            </li>
          
        </ul>
      </div>
    </div>

  </div>
</nav>

<!-- Modal -->


<div id="booking-modal" class="hs-overlay hs-overlay-backdrop-open:bg-primary/70 hidden w-full h-full fixed top-0 start-0 z-[100] overflow-x-hidden overflow-y-auto pointer-events-none">
  <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
    <div class="flex flex-col bg-white border shadow-sm rounded-sm pointer-events-auto dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
      <div class="">
        <div class="flex justify-between items-center border-b dark:border-gray-700 py-3 px-4">
          <h1 class="md:text-h1 text-xl sm:text-2xl font-bold text-primary">Order Online</h1>
          <img class="md:w-24 sm:w-20 w-16" src="./images/logo.png" alt="">
        </div>

        <div class="mt-5">
         

      
          <!-- Form -->
          <form>
            <div class="grid gap-y-4 p-4">
              <!-- Form Group -->
              <div class="sm:flex grid sm:items-center gap-5">
                <div class="sm:sm:w-1/2 w-full w-full">
                <div class="relative">
                  <input type="text" id="name" name="name" placeholder="Name" class="py-3 px-4 block w-full border border-[#9d9d9d] rounded-sm text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                </div>
                </div>
                <div class="sm:sm:w-1/2 w-full w-full">
                <div class="relative">
                  <input type="email" id="email" name="email" placeholder="Email" class="py-3 px-4 block w-full border border-[#9d9d9d] rounded-sm text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" required aria-describedby="email-error">
                  <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                    <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                  </div>
                </div>
                <p class="hidden text-xs text-red-600 mt-2" id="email-error">Please include a valid email address so we can get back to you</p>
                </div>
              </div>

              <div class="sm:flex grid sm:items-center gap-5">
                <div class="sm:sm:w-1/2 w-full w-full">
                <div class="relative">
                  <input type="tel" id="tell" name="tell" placeholder="Telephone" class="py-3 px-4 block w-full border border-[#9d9d9d] rounded-sm text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                </div>
                </div>
                <div class="sm:sm:w-1/2 w-full w-full">
                <div class="relative">
                  <input type="number" id="phone" name="phone" placeholder="Phone" class="py-3 px-4 block w-full border border-[#9d9d9d] rounded-sm text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                </div>
                </div>
                </div>
              <div class="sm:flex grid sm:items-center gap-5">
                <div class="sm:sm:w-1/2 w-full w-full">
                <div class="relative">
                  <input type="text" id="area" name="area" placeholder="Area" class="py-3 px-4 block w-full border border-[#9d9d9d] rounded-sm text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                </div>
                </div>
                <div class="sm:sm:w-1/2 w-full w-full">
                <div class="relative">
                  <input type="text" id="flat" name="flat" placeholder="Flat/House" class="py-3 px-4 block w-full border border-[#9d9d9d] rounded-sm text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                </div>
                </div>
                </div>
              <div class="sm:flex grid sm:items-center gap-5">
                <div class="sm:sm:w-1/2 w-full w-full">
                <div class="relative">
                  <input type="text" id="way" name="way" placeholder="Way No" class="py-3 px-4 block w-full border border-[#9d9d9d] rounded-sm text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                </div>
                </div>
                <div class="sm:sm:w-1/2 w-full w-full">
                <div class="relative">
                  <input type="text" id="building" name="building" placeholder="Building" class="py-3 px-4 block w-full border border-[#9d9d9d] rounded-sm text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                </div>
                </div>
                </div>

                <div>
                  <select class="py-3 px-4 pe-9 block w-full border border-[#9d9d9d] rounded-sm text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                    <option disabled selected>— Select —</option>
                      <option value="Mai Alkaline 500 ML" data-id="254">Mai Alkaline 500 ML</option>
                      <option value="Mai Alkaline 1.5 LTR" data-id="251">Mai Alkaline 1.5 LTR</option>
                      <option value="Manual Water Pump with 5 Gallon  Returnable Bottle" data-id="256">Manual Water Pump with 5 Gallon  Returnable Bottle</option>
                      <option value="SIFR 500 ML" data-id="148">SIFR 500 ML</option>
                      <option value="SIFR 1.5 LTR" data-id="154">SIFR 1.5 LTR</option>
                      <option value="SIFR 5 Gallon" data-id="156">SIFR 5 Gallon</option>
                      <option value="5G - Returnable" data-id="152">5G - Returnable</option>
                      <option value="4G - Non Returnable" data-id="141">4G - Non Returnable</option>
                      <option value="5 LTR" data-id="146">5 LTR</option>
                      <option value="1.5 LTR" data-id="150">1.5 LTR</option>
                      <option value="500 ML" data-id="135">500 ML</option>
                      <option value="330 ML" data-id="139">330 ML</option>
                      <option value="200 ML" data-id="133">200 ML</option>
                      <option value="Cup 100ml/200ml" data-id="252">Cup 100ml/200ml</option>
                  </select>
                </div>

                <div class="relative">
                  <textarea id="hs-floating-textarea" class="peer p-4 block w-full border border-[#9d9d9d] rounded-sm text-sm placeholder:text-transparent focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600
                  focus:pt-6
                  focus:pb-2
                  [&:not(:placeholder-shown)]:pt-6
                  [&:not(:placeholder-shown)]:pb-2
                  autofill:pt-6
                  autofill:pb-2" placeholder="This is a textarea placeholder"></textarea>
                  <label for="hs-floating-textarea" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
                    peer-focus:text-xs
                    peer-focus:-translate-y-1.5
                    peer-focus:text-gray-500
                    peer-[:not(:placeholder-shown)]:text-xs
                    peer-[:not(:placeholder-shown)]:-translate-y-1.5
                    peer-[:not(:placeholder-shown)]:text-gray-500">Address</label>
                </div>
              <!-- End Form Group -->

    

              <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-sm border border-transparent bg-primary text-white hover:bg-secondary disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Submit</button>
            </div>
          </form>
          <!-- End Form -->
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <img src="../images/Product-BANNER.jpg" alt="">
</section>


<!-- Career Page Content Start -->



  <div>
    <div class="max-w-7xl mx-auto px-6 md:py-10 pb-10 z-0">
      <div class="">
        <h1 class="lg:text-5xl md:text-4xl sm:text-3xl text-2xl lg:border-l-[6px] md:border-l-[5px] sm:border-l-[4px] border-l-[3px] pl-5 border-primary">Available <br> Jobs</h1>
      </div>

      <div class="grid grid-cols-1 items-center sm:gap-8 gap-5 mt-10">

               
            <div class="shad md:px-10 px-5 py-3 md:py-5 rounded-xl sm:flex grid items-center justify-between">
            <div>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Post Name:</span> Assistant Merchandiser (Knit Garments)</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Location:</span> Gazipur</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Job Type:</span> Full Time</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Vacancy:</span> Not specific</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Last Apply Date:</span> 2023-12-15</p>
            </div>
              <div class="text-center sm:mt-6 mt-3">
                <button data-hs-overlay="#hs-large-modal" class="sm:px-6 px-3 py-1 sm:py-2 sm:text-base text-sm font-semibold bg-primary hover:bg-secondary transitio duration-700 ease-in-out text-white rounded-full">Apply Now</button>
              </div>
            </div>
            <div class="shad md:px-10 px-5 py-3 md:py-5 rounded-xl sm:flex grid items-center justify-between">
            <div>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Post Name:</span> Assistant Merchandiser (Knit Garments)</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Location:</span> Gazipur</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Job Type:</span> Full Time</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Vacancy:</span> Not specific</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Last Apply Date:</span> 2023-12-15</p>
            </div>
              <div class="text-center sm:mt-6 mt-3">
                <button data-hs-overlay="#hs-large-modal" class="sm:px-6 px-3 py-1 sm:py-2 sm:text-base text-sm font-semibold bg-primary hover:bg-secondary transitio duration-700 ease-in-out text-white rounded-full">Apply Now</button>
              </div>
            </div>
            <div class="shad md:px-10 px-5 py-3 md:py-5 rounded-xl sm:flex grid items-center justify-between">
            <div>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Post Name:</span> Assistant Merchandiser (Knit Garments)</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Location:</span> Gazipur</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Job Type:</span> Full Time</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Vacancy:</span> Not specific</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Last Apply Date:</span> 2023-12-15</p>
            </div>
              <div class="text-center sm:mt-6 mt-3">
                <button data-hs-overlay="#hs-large-modal" class="sm:px-6 px-3 py-1 sm:py-2 sm:text-base text-sm font-semibold bg-primary hover:bg-secondary transitio duration-700 ease-in-out text-white rounded-full">Apply Now</button>
              </div>
            </div>
            <div class="shad md:px-10 px-5 py-3 md:py-5 rounded-xl sm:flex grid items-center justify-between">
            <div>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Post Name:</span> Assistant Merchandiser (Knit Garments)</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Location:</span> Gazipur</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Job Type:</span> Full Time</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Vacancy:</span> Not specific</p>
              <p class="my-3 text-sm lg:text-base sm:leading-6 tracking-wide"><span class="font-semibold">Last Apply Date:</span> 2023-12-15</p>
            </div>
              <div class="text-center sm:mt-6 mt-3">
                <button data-hs-overlay="#hs-large-modal" class="sm:px-6 px-3 py-1 sm:py-2 sm:text-base text-sm font-semibold bg-primary hover:bg-secondary transitio duration-700 ease-in-out text-white rounded-full">Apply Now</button>
              </div>
            </div>
       
           
      </div>


      <!-- Modal -->
      <div id="hs-large-modal" class="hs-overlay hidden w-full h-full fixed top-0 start-0 z-[100] overflow-x-hidden overflow-y-auto pointer-events-none">
        <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all lg:max-w-4xl lg:w-full m-3 lg:mx-auto">
          <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
            <div class=" py-3 px-4 border-b ">
              <h3 class="font-bold text-gray-800 dark:text-white text-center">
               Application Form
              </h3>
            </div>
            <div id="app" class="p-4 overflow-y-auto">
              <div class="sm:flex grid gap-5 items-center w-full my-5">
                <div class="relative sm:w-1/2 w-full">
                  <input type="text" class="peer py-3 px-4 ps-11 block w-full bg-gray-100 border-transparent rounded-sm text-sm focus:border-primary  focus:ring-primary focus:outline-primary  disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-transparent dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Enter First Name">
                  <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
                    <svg class="flex-shrink-0 w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                  </div>
                </div>

                <div class="relative sm:w-1/2 w-full">
                  <input type="text" class="peer py-3 px-4 ps-11 block w-full bg-gray-100 border-transparent rounded-sm text-sm focus:border-primary  focus:ring-primary focus:outline-primary  disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-transparent dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Enter Last Name">
                  <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
                    <svg class="flex-shrink-0 w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                  </div>
                </div>
              </div>
              <div class="sm:flex grid gap-5 items-center w-full my-5">
                <div class="relative sm:w-1/2 w-full">
                  <input type="email" class="peer py-3 px-4 ps-11 block w-full bg-gray-100 border-transparent rounded-sm text-sm focus:border-primary focus:ring-primary focus:outline-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-transparent dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Enter Email">
                  <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
                    <svg class="fill-gray-500" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"/></svg>
                  </div>
                </div>
                
                <div class="relative sm:w-1/2 w-full">
                  <input type="tel" class="peer py-3 px-4 ps-11 block w-full bg-gray-100 border-transparent rounded-sm text-sm focus:border-primary focus:ring-primary focus:outline-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-transparent dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Enter Phone">
                  <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 w-4 h-4 text-gray-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                    </svg>                    
                  </div>
                </div>
              </div>
              
              <div class="sm:flex grid gap-5">
                <div class="relative  sm:w-1/2 w-full">
                    <select @change="selectedDivision" id="division" class="peer p-4 pe-9 block w-full bg-gray-100 border-transparent rounded-sm text-sm focus:border-primary focus:ring-primary focus:outline-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-transparent dark:text-gray-400 dark:focus:ring-gray-600
                    focus:pt-6
                    focus:pb-2
                    [&:not(:placeholder-shown)]:pt-6
                    [&:not(:placeholder-shown)]:pb-2
                    autofill:pt-6
                    autofill:pb-2">
                    <option selected>Choose Your Division</option>
                      <option v-for="division in divisions" :key="division.id" :value="division.id">{{division.name}}</option>
                
                    </select>
                    <label for="division" class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
                      peer-focus:text-xs
                      peer-focus:-translate-y-1.5
                      peer-focus:text-gray-500
                      peer-[:not(:placeholder-shown)]:text-xs
                      peer-[:not(:placeholder-shown)]:-translate-y-1.5
                      peer-[:not(:placeholder-shown)]:text-gray-500">Division</label>
                </div>
                <div class="relative  sm:w-1/2 w-full">
                    <select @change="selectedDistrict" id="district" class="peer p-4 pe-9 block w-full bg-gray-100 border-transparent rounded-sm text-sm focus:border-primary focus:ring-primary focus:outline-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-transparent dark:text-gray-400 dark:focus:ring-gray-600
                    focus:pt-6
                    focus:pb-2
                    [&:not(:placeholder-shown)]:pt-6
                    [&:not(:placeholder-shown)]:pb-2
                    autofill:pt-6
                    autofill:pb-2">
                    <option selected>Choose Your District</option>
                      <option v-for="district in districts" :key="district.id" :value="district.id">{{district.name}}</option>
                    </select>
                    <label for="district" class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
                      peer-focus:text-xs
                      peer-focus:-translate-y-1.5
                      peer-focus:text-gray-500
                      peer-[:not(:placeholder-shown)]:text-xs
                      peer-[:not(:placeholder-shown)]:-translate-y-1.5
                      peer-[:not(:placeholder-shown)]:text-gray-500">District</label>
                </div>
              </div>

              <div class="sm:flex grid gap-5 my-5">
                <div class="relative  sm:w-1/2 w-full">
                    <select @change="selectedUpazila" id="upazila" class="peer p-4 pe-9 block w-full bg-gray-100 border-transparent rounded-sm text-sm focus:border-primary focus:ring-primary focus:outline-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-transparent dark:text-gray-400 dark:focus:ring-gray-600
                    focus:pt-6
                    focus:pb-2
                    [&:not(:placeholder-shown)]:pt-6
                    [&:not(:placeholder-shown)]:pb-2
                    autofill:pt-6
                    autofill:pb-2">
                    <option selected>Choose Your Upazila</option>
                      <option v-for="upazila in upazilas" :key="upazila.id" :value="upazila.id">{{upazila.name}}</option>
                    </select>
                    <label for="upazila" class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
                      peer-focus:text-xs
                      peer-focus:-translate-y-1.5
                      peer-focus:text-gray-500
                      peer-[:not(:placeholder-shown)]:text-xs
                      peer-[:not(:placeholder-shown)]:-translate-y-1.5
                      peer-[:not(:placeholder-shown)]:text-gray-500">Upazila</label>
                </div>
                <div class="relative  sm:w-1/2 w-full">
                    <select id="union" class="peer p-4 pe-9 block w-full bg-gray-100 border-transparent rounded-sm text-sm focus:border-primary focus:ring-primary focus:outline-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-transparent dark:text-gray-400 dark:focus:ring-gray-600
                    focus:pt-6
                    focus:pb-2
                    [&:not(:placeholder-shown)]:pt-6
                    [&:not(:placeholder-shown)]:pb-2
                    autofill:pt-6
                    autofill:pb-2">
                    <option selected>Choose Your Union</option>
                      <option v-for="union in unions" :key="union.id" :value="union.id">{{union.name}}</option>
                    </select>
                    <label for="union" class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
                      peer-focus:text-xs
                      peer-focus:-translate-y-1.5
                      peer-focus:text-gray-500
                      peer-[:not(:placeholder-shown)]:text-xs
                      peer-[:not(:placeholder-shown)]:-translate-y-1.5
                      peer-[:not(:placeholder-shown)]:text-gray-500">Union</label>
                </div>
              </div>

       

            
              <div class="relative my-5">
                <div class="relative">
                  <input type="tel" class="peer py-3 px-4 ps-11 block w-full bg-gray-100 border-transparent rounded-sm text-sm focus:border-primary focus:ring-primary focus:outline-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-transparent dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Enter Full Address">
                  <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 w-4 h-4 text-gray-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                    </svg>
                                       
                  </div>
                </div>
              </div>


              <div class="w-full my-5">
                <h1 class="text-xl font-bold mt-5">Upload my Curriculum vitae</h1>
                <p class="my-3">Cv is mandatory.</p>
                <label for="file-input" class="sr-only">Choose file</label>
                <input type="file" name="file-input" id="file-input" class="block w-full border bg-gray-100 border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600
                  file:bg-gray-50 file:border-0
                  file:bg-gray-300 file:me-4
                  file:py-3 file:px-4
                  dark:file:bg-gray-700 dark:file:text-gray-400">
              </div>
              
              <div class="flex my-5">
                <input type="checkbox" class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" id="confirm">
                <label for="confirm" class="text-sm text-gray-500 ms-3 dark:text-gray-400">I have read and I accept the <a class="underline hover:text-primary" href="/">Privacy Policy</a></label>
              </div>
              <div class="flex my-5">
                <input type="checkbox" class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" id="confirm2">
                <label for="confirm2" class="text-sm text-gray-500 ms-3 dark:text-gray-400">Yes, Roman Water can add me to the talent pool and contact me about future job opportunities.</a></label>
              </div>
              
            </div>
            <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t dark:border-gray-700">
              <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-sm border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" data-hs-overlay="#hs-large-modal">
                Close
              </button>
              <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-sm border border-transparent bg-primary text-white hover:bg-secondary disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                Submit Application
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- Footer -->
      

    <div>
      <div class="bg-third">
        <div class="max-w-7xl mx-auto px-6 py-10">
             <div class="grid md:grid-cols-4 sm:grid-cols-2 md:gap-10 gap-5">
                 <div class="text-center">
                  <img class="w-[150px] md:w-full mx-auto" src="../images/logo.png" alt="">
                  <div class="mt-5">
                    <ul class="flex gap-3 justify-center">
                      <li class="rounded-full bg-white hover:bg-black transition duration-700 ease-in-out">
                        <a class="text-center" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 p-2.5 fill-primary hover:fill-white transition duration-700 ease-in-out" viewBox="0 0 320 512">
                          <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/>
                        </svg>
                      </a>
                     </li>
                      <li class="rounded-full bg-white hover:bg-black transition duration-700 ease-in-out">
                        <a class="text-center" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 p-2.5 fill-primary hover:fill-white transition duration-700 ease-in-out" viewBox="0 0 512 512">
                          <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/>
                        </svg>
                      </a>
                     </li>
                      <li class="rounded-full bg-white hover:bg-black transition duration-700 ease-in-out">
                        <a class="text-center" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 p-2.5 fill-primary hover:fill-white transition duration-700 ease-in-out" viewBox="0 0 448 512">
                          <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/>
                        </svg>
                      </a>
                     </li>
                      <li class="rounded-full bg-white hover:bg-black transition duration-700 ease-in-out">
                        <a class="text-center" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 p-2.5 fill-primary hover:fill-white transition duration-700 ease-in-out" viewBox="0 0 640 512">
                          <path d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z"/>
                        </svg>
                      </a>
                     </li>
                   
                    </ul>
                  </div>
                 </div>
                 <div class="mx-auto">
                  <h6 class="text-h6 font-semibold text-primary text-center md:text-left uppercase">NEW ROMANA GENERAL TRADING LLC</h6>
                  <div class="pt-5">
                        <div class="flex gap-3 justify-center md:justify-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-primary" viewBox="0 0 576 512">
                            <path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c.2 35.5-28.5 64.3-64 64.3H128.1c-35.3 0-64-28.7-64-64V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L416 100.7V64c0-17.7 14.3-32 32-32h32c17.7 0 32 14.3 32 32V185l52.8 46.4c8 7 12 15 11 24zM248 192c-13.3 0-24 10.7-24 24v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V216c0-13.3-10.7-24-24-24H248z"/>
                          </svg>
                          <p class="text-[11px] text-primary font-medium">
                            Iliya Tower 2, Suite 205 & 206, Industrial Area 3, Damascus Street,
                            Opposite EPPCO Petrol Pump,
                            Al Qusais, Dubai, UAE</p>
                        </div>
                        <div class="flex gap-3 my-5 justify-center md:justify-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-primary" viewBox="0 0 576 512">
                            <path d="M80 0C44.7 0 16 28.7 16 64V448c0 35.3 28.7 64 64 64H304c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H80zm80 432h64c8.8 0 16 7.2 16 16s-7.2 16-16 16H160c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/>
                          </svg>
                          <a href="tel:800766262" class="text-[11px] text-primary font-medium">Toll Free: 800 766 262</a>
                        </div>
                        <div class="flex gap-3 my-5 justify-center md:justify-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 fill-primary" viewBox="0 0 576 512">
                            <path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
                          </svg>
                          <a href="tel:800766262" class="text-[11px] text-primary font-medium">Phone: 042511160</a>
                        </div>
                        <div class="flex gap-3 my-5 justify-center md:justify-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 fill-primary" viewBox="0 0 576 512">
                            <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                          </svg>
                          <a href="mailto:info@romanwater.com" class="text-[11px] text-primary font-medium">Email: info@romanawater.com</a>
                        </div>
                  </div>
                 </div>
                 <div class="text-center md:text-left md:order-3 sm:order-4">
                  <h6 class="text-h6 font-semibold text-primary uppercase">Legal</h6>
                  <div class="mt-5">
                    <ul>
                      <li class="my-3"><a class="text-p font-medium text-[#053777]" href="#">Terms & Conditions</a></li>
                      <li class="my-3"><a class="text-p font-medium text-[#053777]" href="#">Privacy Policy</a></li>
                      <li class="my-3"><a class="text-p font-medium text-[#053777]" href="#">Return & Refund</a></li>
                    </ul>
                  </div>
                 </div>
                 <div class="text-center md:text-left ms:order-4 sm:order-3">
                  <h6 class="text-h6 font-semibold text-primary uppercase">Mail Us</h6>
                  <div class="mt-5">
                    <form action="">
                      <input required type="text" placeholder="Name" class="input-sm input-bordered focus:outline-primary w-full" />
                      <input required type="email" placeholder="Email" class="input-sm input-bordered focus:outline-primary w-full mt-1" />
                      <input type="phone" placeholder="Phone Number" class="input-sm input-bordered focus:outline-primary w-full mt-1" />
                      <textarea required class="textarea-md mt-1 focus:outline-primary w-full" placeholder="Message"></textarea>
                      <button class="mt-2 py-2 w-full bg-primary hover:bg-secondary transition duration-700 ease-in-out rounded-md text-white">Submit</button>
                    </form>
                  </div>
                 </div>
             </div>
        </div>
      </div>
      <div class=" bg-primary">
        <div class="max-w-7xl px-6 mx-auto py-5 text-white">
          <p class="text-p text-gray-200 hover:text-white text-center">© Copyright <span id="currentYear"></span>
            ROMANA GENERAL TRADING LLC. | All Rights Reserved | Powered by <a href="https://www.zealtechbd.com/" target="_blank"
              class="hover:text-yellow-500 font-semibold">ZealtechBD.</a></p>
        </div>
      </div>
    </div>

    <!-- Javascript code stat -->
    <script src="../main.js" ></script>
    <script src="../node_modules/preline/dist/preline.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      var app = Vue.createApp({
        data(){
          return{
            msg: "Vue Working",
            divisions: [],
            districts: [],
            unions: [],
            upazilas: [],
            
          }
        },
        mounted() {
    // Fetch divisions data
    fetch('http://localhost:5173/divisions.json')
      .then(res => res.json())
      .then(data => {
        // Assign the fetched data to the component property
        this.divisions = data[2].data.sort((a, b) => a.name.localeCompare(b.name));
      })
      .catch(error => {
        console.error('Error fetching divisions data:', error);
      });


  },

  methods: {
    selectedDivision(selectDivision) {
      if(!selectDivision){
        return this.districts = "";
      }

          // Fetch districts data
    fetch('http://localhost:5173/districts.json')
      .then(res => res.json())
      .then(data => {
        this.districts = data[2].data.sort((a, b) => a.name.localeCompare(b.name)).filter((dis) => dis.division_id === selectDivision.target.value);
      })
      .catch(error => {
        console.error('Error fetching districts data:', error);
      });
      },
      selectedDistrict(selectDistrict) {
        if(!selectDistrict){
          return this.upazilas = "";
        }
        
    // Fetch upazilas data
    fetch('http://localhost:5173/upazilas.json')
      .then(res => res.json())
      .then(data => {
        this.upazilas = data[2].data.sort((a, b) => a.name.localeCompare(b.name)).filter((upa) => upa.district_id === selectDistrict.target.value);
      })
      .catch(error => {
        console.error('Error fetching upazilas data:', error);
      });
      },
      selectedUpazila(selectUpazila) {
        if(!selectUpazila){
          return this.unions = "";
        }
      //  // Fetch unions data
    fetch('http://localhost:5173/unions.json')
      .then(res => res.json())
      .then(data => {
        this.unions = data[2].data.sort((a, b) => a.name.localeCompare(b.name)).filter((uni) => uni.upazilla_id === selectUpazila.target.value);
      })
      .catch(error => {
        console.error('Error fetching unions data:', error);
      });
      }
    }
  });

    
      app.mount('#app')
    </script>
  </body>
</html>